:root {
    --primary: #A8C7FAFF;
    --color: #e3e3e3;
    --bg-color: #282828;
    --max-dialog-width: 45rem;
}

body {
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    cursor: default;
    font-family: ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 12px;
    tab-size: 4;
    color: var(--color);
    background: var(--bg-color);
}

div.no-refresh-hint {
    background-color: rgb(25, 18, 7);
    color: rgb(255, 226, 183);
    padding: 0.65rem 0.5rem;
    text-align: center;
}

div[role="tablist"] {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid #474747FF;

    > button[role="tab"] {
        position: relative;
        appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        color: #C7C7C7FF;
        padding: 6px 0.6rem 2px 0.6rem;
        line-height: 16px;
        border: none;

        &[aria-selected="true"] {
            color: var(--primary);
            border-bottom: 1px solid var(--primary);
        }

        &:hover {
            color: rgb(232, 234, 237);
            background-color: rgba(253, 252, 251, 0.1);
        }
    }
}

div[role="tabpanel"] {
    padding: 0 0.6rem;
}

.is-hidden {
    display: none;
}

h2.metadata-category {
    font-size: 1.2rem;
    margin: 0 0 0.1rem 0;
}

p.metadata-description {
    margin: 0;
    color: #8f8f8f;
}

table {
    margin: 1rem 0 2.5rem 0;
    border-spacing: 0 0.35rem;

    > thead > tr > th {
        text-align: left;

        &:not(:last-of-type) {
            padding-right: 0.75rem;
        }
    }

    > tbody > tr > td {
        &:not(:last-of-type) {
            padding-right: 0.75rem;
        }

        > button {
            display: inline;
            -webkit-appearance: none;
            appearance: none;
            border: none;
            padding: 0;
            margin: 0;
            background-color: transparent;
            cursor: pointer;
            transition: color 125ms;
            color: inherit;

            &:hover {
                color: var(--primary);
            }

            > code {
                display: flex;

                &.is-deprecated-metatag {
                    text-decoration: line-through;
                    opacity: 0.85;
                }

                > .metadata-prefix {
                    color: #8f8f8f;
                }

                > span {
                    margin: 0;
                }
            }
        }

        &:nth-child(1) > code {
            white-space: nowrap;
        }
    }
}

dialog#metatag-info-dialog {
    background-color: var(--bg-color);
    color: var(--color);
    width: 100%;
    max-width: var(--max-dialog-width);
    border: none;
    border-radius: 0.25rem;
    font-size: 14px;
    padding: 1rem;
    position: relative;

    > #metatag-info-close {
        font-size: 18px;
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        -webkit-appearance: none;
        appearance: none;
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        cursor: pointer;
        color: inherit;
        transition: opacity 125ms;

        &:hover {
            opacity: 0.85;
        }
    }

    > h2 {
        margin-top: 0;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
}